# Ignore WP core local dev stuff
/wp-admin/*
/wp-content/*
/wp-includes/*
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Exceptions
!/wp-config.php
!/wp-content/mu-plugins/
!/wp-content/themes/
wp-content/themes/*
!/wp-content/themes/pilau-starter/

# Uncomment to version plugins
#!/wp-content/plugins/
# And make sure to exclude any caches inside plugin folders
#/wp-content/plugins/bwp-minify/cache/*

# Interconnect IT WP data migration script - http://interconnectit.com/124/search-and-replace-for-wordpress-databases/
searchreplacedb2.php

# Any system or IDE files
Thumbs.db
.DS_Store
.DS_Store?
.idea/*
.tweetcache
