# ----------------------------------------------------------------------
# Password protection only on staging server
# @link http://css-tricks.com/snippets/htaccess/allow-single-url/#comment-75659
# ----------------------------------------------------------------------

#SetEnvIf Host [staging-server-domain] passreq
#AuthType Basic
#AuthName "Staging Server"
#AuthUserFile [staging-server-path-to-web-root]/.htpasswd
#Require valid-user
#Order allow,deny
#Allow from all
#Deny from env=passreq
#Satisfy any

# ----------------------------------------------------------------------
# Rewriting
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /
</IfModule>

# ----------------------------------------------------------------------
# Force no www or force www (see http://no-www.org/)
# ONLY USE ONE!
# ----------------------------------------------------------------------

# Force no www
#<IfModule mod_rewrite.c>
#	RewriteCond %{HTTP_HOST} ^www\.domain\.org\.uk$ [NC]
#	RewriteRule ^(.*)$ http://domain.org.uk/$1 [R=301,L]
#</IfModule>

# Force www
#<IfModule mod_rewrite.c>
#	RewriteCond %{HTTP_HOST} ^domain\.org\.uk$ [NC]
#	RewriteRule ^(.*)$ http://www.domain.org.uk/$1 [R=301,L]
#</IfModule>

# ----------------------------------------------------------------------
# Gzip compression
# @link
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

	# Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
	<IfModule mod_setenvif.c>
		<IfModule mod_headers.c>
			SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
			RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
		</IfModule>
	</IfModule>

	# HTML, TXT, CSS, JavaScript, JSON, XML, HTC:
	<IfModule filter_module>
		FilterDeclare   COMPRESS
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/html
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/css
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/plain
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/xml
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/x-component
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/javascript
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/json
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/xml
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/xhtml+xml
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/rss+xml
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/atom+xml
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/vnd.ms-fontobject
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $image/svg+xml
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $image/x-icon
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/x-font-ttf
		FilterProvider  COMPRESS  DEFLATE resp=Content-Type $font/opentype
		FilterChain     COMPRESS
		FilterProtocol  COMPRESS  DEFLATE change=yes;byteranges=no
	</IfModule>

	<IfModule !mod_filter.c>
		# Legacy versions of Apache
		AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
		AddOutputFilterByType DEFLATE application/javascript
		AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
		AddOutputFilterByType DEFLATE application/xhtml+xml application/rss+xml application/atom+xml
		AddOutputFilterByType DEFLATE image/x-icon image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype
	</IfModule>

</IfModule>

# ----------------------------------------------------------------------
# Content types
# ----------------------------------------------------------------------

# For polyfill scripts
AddType text/x-component .htc

# ----------------------------------------------------------------------
# Basic security
# ----------------------------------------------------------------------

# Prevent directory listing
IndexIgnore *

# Protect .htaccess files
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# Protect wp-config.php
<FilesMatch ^wp-config.php$>
	deny from all
</FilesMatch>

# Protect xmlrpc.php
# @link http://perishablepress.com/wordpress-xmlrpc-pingback-vulnerability/
<Files xmlrpc.php>
	order deny,allow
	deny from all
</Files>

# ----------------------------------------------------------------------
# PHP settings
# ----------------------------------------------------------------------

#php_value upload_max_filesize 20M
#php_value post_max_size 20M
#php_value max_execution_time 200
#php_value max_input_time 200

# ----------------------------------------------------------------------
# HTTP headers
# @link http://www.456bereastreet.com/archive/201103/x-ua-compatible_and_html5/
# @link https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
	Header set X-UA-Compatible "IE=Edge,chrome=1"
	# mod_headers can't match by content-type, but we don't want to send this header on *everything*
	<FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|xpi|safariextz|vcf)$" >
		Header unset X-UA-Compatible
	</FilesMatch>
</IfModule>

# ----------------------------------------------------------------------
# WordPress rewriting
# ----------------------------------------------------------------------

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
