/*
 * Only import other LESS files here.
 * Any CSS, enqueue it to be minified & concatenated by the BWP plugin.
 */

/* Import variables first */
@import 'vars.less';


/* Basic layout
-------------------------------------------------------------------------------*/

body { text-align: center; }

/* Wrapper is a class in case there are designs where sections break out of it */
.wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}


/* Global form styles
-------------------------------------------------------------------------------*/

form {


}


/* Content
-------------------------------------------------------------------------------*/

#content {

	ul {
		padding-left: 2em;
		list-style: disc;
	}

	p, blockquote, dl, ol, ul, table { margin-bottom: 1em; }

}


/* Global JS stuff
--------------------------------------------------------------------------------*/

.js {

	img.preloader {
		position: absolute;
		z-index: 999999;
		top: 50%;
		left: 50%;
		margin-top: -17px;
		margin-left: -17px;
		.BorderRadius( 3px );
		.DropShadow( 0, 0, 1px, 2px, .4 );
	}

}
