/*
 * Only import other LESS files here.
 * Any CSS, enqueue it to be minified & concatenated by the BWP plugin.
 */

/* Import variables first */
@import 'vars.less';


/* Basics
-------------------------------------------------------------------------------*/

body { text-align: center; }

/* Wrapper is a class in case there are designs where sections break out of it */
.wrapper {
	width: @width-wrapper;
	margin: 0 auto;
	text-align: left;
}

// Basic drop-shadow - sometimes leaner to just add a class!
// Set the mix-in settings to your most common drop-shadow style and use this
// class where possible.
.drop-shadow {
	.DropShadow();
}


/* Links
-------------------------------------------------------------------------------*/

// "Press button" effect
a:active {
	position: relative;
	top: 1px;
}

// Anchors that wrap block-level elements
a.block-wrapper {
	display: block;
	color: inherit;
	text-decoration: none;
	&:active { // This effect can cause weird issues when anchor wraps blocks
		position: static;
		top: 0;
	}
	&:hover, &:focus {
		p.more {
			text-decoration: underline;
		}
	}
}


/* Global form styles
-------------------------------------------------------------------------------*/

form {



}


/* Header
-------------------------------------------------------------------------------*/

#header {



}


/* Content
-------------------------------------------------------------------------------*/

.post-content {

	ul {
		padding-left: 2em;
		list-style: disc;
	}

	p, blockquote, dl, ol, ul, table { margin-bottom: 1em; }

}


/* Home page
-------------------------------------------------------------------------------*/

.home {



}


/* Footer
-------------------------------------------------------------------------------*/

#footer {



}


/* Global JS stuff
--------------------------------------------------------------------------------*/

.js {

	img.preloader {
		position: absolute;
		z-index: 999999;
		top: 50%;
		left: 50%;
		margin-top: -17px;
		margin-left: -17px;
		.BorderRadius( 3px );
		.DropShadow( 0, 0, 1px, 2px, .4 );
	}

}
