/*
* Editor content and other general content styles
*/

.editor-content {

	ul {
		padding-left: 2em;
		list-style: disc;
	}

	p, blockquote, dl, ol, ul, table { margin-bottom: 1em; }

}

.heading-main {
	margin: 0 0 $gutter-medium;
	font-size: 2em;
}