/*
* Editor content and other general content styles
*/

.heading-main {
	margin: 0 0 $gutter-medium;
	font-size: 2em;
}

.editor-content {

	ul {
		padding-left: 2em;
		list-style: disc;
	}

	p, blockquote, dl, ol, ul, table { margin-bottom: 1em; }

	.wp-image {
		&.alignleft {
			float: left;
			margin: $gutter-small $gutter-large $gutter-medium 0;
		}
		&.alignright {
			float: right;
			margin: $gutter-small 0 $gutter-medium $gutter-medium;
		}
		&.aligncenter {
			display: block;
			text-align: center;
			margin: $gutter-large auto;
		}
	}

}
