/*
* Editor content and other general content styles
*/

.editor-content {

	ul {
		padding-left: 2em;
		list-style: disc;
	}

	p, blockquote, dl, ol, ul, table { margin-bottom: 1em; }

	.wp-image {
		&.alignleft {
			float: left;
			margin: $gutter $gutter * 4 $gutter * 2 0;
		}
		&.alignright {
			float: right;
			margin: $gutter 0 $gutter * 2 $gutter * 2;
		}
		&.aligncenter {
			display: block;
			text-align: center;
			margin: $gutter * 4 auto;
		}
	}

}

.main-heading {
	margin: 0 0 $gutter * 2;
	font-size: 2em;
}

.main-featured-image {
	img {
		display: block;
	}
}