/*
* Main footer
*/

.footer-main {
	padding: $gutter 0 $gutter * 4;
	background-color: $color-background-darker;

	.back-to-top {
		margin-bottom: 2em;
		text-align: center;
		@include Tablet-Desktop {
			float: right;
		}
	}

}

.nav-footer {

}