/*
 * Forms
 */

// Override iPhone and iPad styling
input[type=submit],
input[type=button] {
	-webkit-appearance: none;
}

// Inputs
input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=url],
input[type=email],
textarea,
select {
	width: 100%;
	max-width: 40em;
	border: none;
	padding: .3em .5em;
	@include FontSizeRem( 1.2 );
}
select {
	max-width: 100%;
	width: auto;
}
textarea {
	height: 10em;
}

// Buttons - class for other elements to look button-like
input[type=submit],
.button {
	padding: .1em 1em .2em;
	border: none;
	border-radius: .8em;
	background-color: #000;
	color: #fff;
	@include FontSizeRem( 1.2 );
	cursor: pointer;
	&:hover, &:focus {
		background-color: lighten( #000, 10% );
	}
}

/*
Gravity Forms (use these classes for custom forms where possible to prevent replication of style declarations
*/
.gform_fields {
	margin: 0;
}
.gfield {
	clear: both;
	display: block;
	margin-bottom: 1.2em;
	overflow: hidden;
}
.gfield_label {
	float: left;
	width: 20%;
	vertical-align: middle;
}
.gfield_radio {
	> li {
		margin-bottom: .7em;
		input[type=radio] {
			vertical-align: baseline;
			margin-right: .7em;
		}
	}
	input[value='gf_other_choice'] + input[type=text] {
		max-width: 80%;
		font-size: 1em;
	}
}
.ginput_container {
	float: right;
	width: 75%;
}
// Honeypot validation needs to be hidden
.gform_validation_container {
	display: none !important;
	position: absolute !important;
	left: -99999px;
}
.gform_footer {
	text-align: right;
}