/*
* Generic styles
*/

h1 {
	margin: 0 0 1em;
	font-size: 2em;
}
h2 {
	margin: 1em 0 .2em;
	font-size: 1.6em;
}
h3 {
	margin: 1em 0 .2em;
	font-size: 1.3em;
}
h4 {
	margin: 1em 0 .2em;
	font-size: 1.2em;
}
h5 {
	margin: 1em 0 .2em;
	font-size: 1.1em;
}
h6 {
	margin: 1em 0 .2em;
	font-size: 1em;
}
