/*
 * Generic styles
 *
 * - Anything site-wide which doesn't logically fit into another partial
 */


/*
 * Hiding stuff
 */

// Don't display at all according to context
.no-js .hide-if-no-js, .js .hide-if-js { display: none !important; }
@include Desktop {
	.hide-for-desktop {
		display: none !important;
	}
}
@include Tablet {
	.hide-for-tablet {
		display: none !important;
	}
}
@include Mobile {
	.hide-for-mobile {
		display: none !important;
	}
}

// Hide images with deferred sources if not JS
html.no-js img[data-defer-src] { display: none !important; }

// Text meant only for screen readers - do it like WP
// @link   https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	// When skip links gain focus...
	&.skip-link:focus {
		clip: auto !important;
		height: auto;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

// To hide form fields that still need to submit
.hide-form-field {
	visibility: hidden;
	position: absolute;
}


/*
 * Image replacement - just add dimensions and an image!
 * @link	http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
.img-rep {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
// Anchors and spans inside image replacement elements are usually block
.img-rep a, .img-rep span {
	display: block;
}
