/*
* Main header
*/

.header-main {
	margin: 0 0 $gutter-large;
	background-color: rgba( 113, 130, 138, 0.2 );
	@include Tablet-Desktop {
		padding-bottom: $gutter-small;
	}
}

.header-branding {
	padding: $gutter-small 0;
}
.site-title {
	margin: $gutter-small 0 !important;
	width: 314px;
	max-width: 90%;
	a {
		width: 314px;
		height: auto;
		max-width: 90%;
		background: url(#{$path-images}/logo-pilau-starter.svg?v=1) no-repeat 0 0;
		background-size: contain;
	}
}
.site-description {
	margin-bottom: 0;
	font-size: .9em;
	color: #666;
}

