/*
* Main header
*/

.header-main {
	margin: 0 0 $gutter-large;
	nav {
		background: #eee;
	}
}

.header-branding {
	padding: $gutter-small 0;
}
.site-title {
	margin: 0;
	width: 314px;
	height: 82px;
	a {
		width: 314px;
		height: 82px;
		background: url(#{$path-images}/logo.svg?v=1) no-repeat 0 0;
		background-size: contain;
	}
}
.site-description {
	font-size: .9em;
	color: #999;
}

