/*
 * Icons
 */

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?3319825');
	src: url('../fonts/fontello.eot?3319825#iefix') format('embedded-opentype'),
	url('../fonts/fontello.woff?3319825') format('woff'),
	url('../fonts/fontello.ttf?3319825') format('truetype'),
	url('../fonts/fontello.svg?3319825#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'fontello';
		src: url('../fonts/fontello.svg?3319825#fontello') format('svg');
	}
}
*/

// Fontello mix-in
// Most icon handled by 'icon-*' classes (see below), but sometimes needed independently
@mixin Fontello-Icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	// opacity: .8;

	/* For safety - reset parent styles, that can break glyph codes */
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

// 'icon-*' classes
[class^="icon-"]:before, [class*=" icon-"]:before {
	@include Fontello-Icon();
	margin-right: .2em;
}
a[class^="icon-"], [class*=" icon-"] {
	&:hover, &:focus {
		&:before, &:after {
			text-decoration: none !important;
		}
	}
}
.icon-angle-up:before { content: '\e800'; } /* '' */
.icon-angle-down:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e816'; } /* '' */

// Reversed icons
.icon-reversed-x {
	&:before {
		transform: scaleX( -1 );
		filter: FlipH;
		margin: 0 .5em 0 0;
	}
}
.icon-reversed-y {
	&:before {
		transform: scaleY( -1 );
		filter: FlipV;
	}
}
