/*
 * Layout
 */


body {
    text-align: center;
}
main {
    margin: $gutter-large 0;
}
.clear { clear: both; }
.center { text-align: center; }

// Wrap to constrain width
.wrap {
    width: 100%;
    max-width: $breakpoint-large;
    margin: 0 auto;
    text-align: left;
}

