/*
 * Layout
 */


body {
	background-color: $color-background;
	color: $color-text-body;
    text-align: center;
}
main {
	display: block;
    margin: $gutter * 4 0;
}
.clear { clear: both; }
.center { text-align: center; }

// Wrap to constrain width
.wrap {
	position: relative;
	width: 95%; // Gives small border down sides for mobile
    max-width: $breakpoint-large;
    margin: 0 auto;
    text-align: left;
	&.full-width {
		width: 100%;
	}
}

/*
 * Grid
 @link  http://j4n.co/blog/Creating-your-own-css-grid-system
 */

// Container
.grid-container {
	width: 100%;
	max-width: $breakpoint-large;
}

// Rows
.grid-row {
	&:after, &:before {
		content: "";
		display: table;
		clear: both;
	}
}

// Columns
[class*='grid-col-'] {
	float: left;
	min-height: 1px;
	width: 100%;
	padding: 0 $gutter ( $gutter + $gutter );
	// Prevent gap down far sides - that's handled by .wrap
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
	// Prevent added space at top and bottom of cols
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
	/* for testing
	p {
		padding: 10px;
		background-color: $color-background-darker;
		text-align: center;
		font-size: .7em;
	}
	*/
}

// Extra guttering
@include Tablet {
	.grid-extra-gutter-right {
		padding-right: $gutter*2;
	}
	.grid-extra-gutter-left {
		padding-left: $gutter*2;
	}
}
@include Desktop {
	.grid-extra-gutter-right {
		padding-right: $gutter*3;
	}
	.grid-extra-gutter-left {
		padding-left: $gutter*3;
	}
}

// A column that needs floating to the right
.grid-col-right {
	float: right;
}

@include Mobile {
	[class*='grid-col-'] {
		float: none;
		// Gutter padding only in middle
		padding-left: 0;
		padding-right: 0;
	}
	/* If you need two columns on mobile...
	.grid-col-#{($grid-columns / 2)} {
		float: left;
		width: ( 100% / 2 );
		&:first-of-type {
			padding-left: $gutter;
		}
		&:last-of-type {
			padding-right: $gutter;
		}
	}
	*/
}

@include Tablet-Desktop {
	// Very blunt - needs tweaking for specific use cases
	@for $i from 1 through $grid-columns {
		.grid-col-#{$i} { width: 100% / $grid-columns * $i; }
	}
}

/* Outlines for testing
.grid-outline, .grid-outline * {
	outline: 10px solid $color-background-darker;
}
*/


/*
 * Lists
 */
.vertical-list {
	> :last-child {
		margin-bottom: 0 !important;
	}
}
@include Tablet-Desktop {
	.list-cols {
		overflow: hidden;
		> li {
			float: left;
			// Defaults to 2 cols
			width: 45%;
			margin-right: 5%;
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
	.list-3-cols {
		> li {
			width: 28.3333333%;
		}
	}
}
