
// "Press button" effect
a:active {
	position: relative;
	top: 1px;
	&.no-button-effect {
		position: inherit;
		top: inherit;
	}
}

// Anchors that wrap block-level elements
a.block-wrapper {
	display: block;
	text-decoration: none;
	color: inherit;
	&:active { // This effect can cause weird issues when anchor wraps blocks
		position: static;
		top: 0;
	}
	&:hover, &:focus {
		.more {
			text-decoration: underline;
		}
	}
}
