/*
 * Links
 */

a {
	color: #006699;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}

	// "Press button" effect
	&:active {
		position: relative;
		top: 1px;
		&.no-button-effect {
			position: inherit;
			top: inherit;
		}
	}

	// Wrapping block-level elements
	&.link-block {
		display: block;
		text-decoration: none;
		color: inherit;
		&:active { // This effect can cause weird issues when anchor wraps blocks
			position: static;
			top: 0;
		}
		&:hover, &:focus {
			.more {
				text-decoration: underline;
			}
		}
	}

}
