/*
 * Navigation
 */

.nav {
	margin: 0;
	.menu-item {
		position: relative;
		a {
			color: #000;
		}
	}

	// Highlighting
	.current-page-ancestor,
	.current-menu-ancestor,
	.current-menu-item {
		color: $color-current;
	}

	// Drop-down sub-menus only at top level
	.menu-level-0 {
		&[aria-expanded='false'] {
			.sub-menu-wrapper {
				display: none;
			}
		}
	}

	@include Mobile {
		.menu-item {
			a {
				display: block;
				padding-bottom: .4em;
				border-bottom: 1px dotted #999;
			}
		}
	}

	@include Tablet-Desktop {
		.menu-item {
			display: inline-block;
			margin: 0 $gutter-small;
		}
		.sub-menu-wrapper {
			position: absolute;
			z-index: 999;
			top: 1em;
			left: -.8em;
			width: 11em;
			padding-top: .5em;
		}
		.sub-menu {
			padding: .6em .4em;
			background-color: #eee;
			font-size: .85em;
			> .menu-item {
				display: list-item;
				margin: 0;
			}
			a {
				display: block;
				padding: .4em .5em;
			}
		}
	}

}

// Control for mobile nav menu
.nav-mobile-control {
	position: absolute;
	right: 2%;
	top: -3.1em;
	display: block;
	width: 2.5em;
	height: 2.5em;
	padding: 0;
	background-color: $color-background-dark;
	border: 0;
	&:before {
		margin: 0;
		color: #fff;
		font-size: 1.8em;
	}
}

@include Mobile {

	// The wrapper for the whole mobile nav menu
	#nav-wrap {
		display: none;
		padding: $gutter-small 0;
		background-color: $color-background-dark;
		a {
			color: #eee;
		}
	}

	.nav-main {
		// Open state
		&.popup-open {
			.nav-mobile-control {
				&:before {
					content: '\e802'; // Cancel icon
				}
			}
			#nav-wrap {
				display: block;
			}
		}
	}

	// Controls for opening sub-menus
	.sub-menu-control {
		position: absolute;
		display: block;
		top: -.3em;
		right: .1em;
		padding: 0;
		background-color: transparent;
		border: none;
		&:before {
			margin: 0;
			font-size: 2.4em;
			color: #fff;
		}
	}
	[aria-expanded=true] {
		.sub-menu-control {
			&:before {
				content: '\e800';
			}
		}
	}

	// Sub-menu wrapper
	.sub-menu-wrapper {
		margin: .7em 0 .5em 1.2em;
		font-size: .9em;
	}

}
