/*
 * Navigation
 */

.nav {
	padding: 1em 0;
	.menu-item {
		a {
			color: #000;
			text-transform: uppercase;
		}
	}

	// Highlighting
	.current-page-ancestor,
	.current-menu-ancestor,
	.current-menu-item {
		color: red;
	}

	@include Mobile {

	}

	@include Tablet-Desktop {
		.menu-item {
			position: relative;
			display: inline-block;
			margin: 0 $gutter-small;
		}
		.sub-menu {
			display: none;
			position: absolute;
			z-index: 999;
			top: 1.4em;
			left: 0;
			width: 11em;
			padding: .6em .4em;
			background-color: #fff;
			font-size: .85em;
			> .menu-item {
				display: list-item;
				margin: 0;
			}
			a {
				display: block;
				padding: .4em .5em;
			}
		}
		.menu-level-0 {
			&:hover, &:focus {
				> .sub-menu {
					display: block;
				}
			}
		}
	}

}