/*
 * Slideshows
 *
 * Core Flickity CSS kept separately, not to be edited
 */

.slideshow {
	width: 100%;
	padding-bottom: 33.33333%;
	margin-bottom: 1em;
	.flickity-viewport {
		position: absolute;
		width: 100%;
	}
	.gallery-cell {
		width: 100%;
		height: 100%;
	}
	.flickity-prev-next-button {
		@include Mobile-Tablet {
			width: 30px;
			height: 30px;
		}
	}
	a {
		position: relative;
		&:hover, &:focus {
			.button {
				background-color: #fff;
				color: $color-current;
			}
		}
	}
	.text {
		position: absolute;
		top: 40px;
		left: 100px;
		padding: 1em 1.5em;
		width: 50%;
		@include TransparentBackground( #fff, .6 );
		text-align: left;
		line-height: 1.2;
	}
	.heading {
		margin-bottom: .2em;
		font-size: 2em;
		line-height: 1.05;
	}
	.button {
		display: inline-block;
		background-color: $color-current;
		font-size: 1em;
	}
	img {
		display: block;
		width: 100%;
	}
	@include Mobile-Tablet {
		.text {
			font-size: .9em;
			.heading {
				font-size: 1.6em;
			}
			.teaser {
				display: none;
			}
		}
	}
	@include Tablet {
		.text {
			left: 60px;
			min-width: 500px;
		}
	}
	@include Mobile {
		padding-bottom: 120%;
		.text {
			top: 10px;
			left: 10px;
			right: 10px;
			width: auto;
		}
	}
}