/*
 * User interface
 */


/* Forms
 *********************************************************************************************/

// Override iPhone and iPad styling
input[type=submit],
input[type=button],
input[type=search] {
	-webkit-appearance: none;
}
input[type=search] {
	border-radius: 0;
}

// Labels
label {
	display: block;
}

// Inputs
input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=url],
input[type=email],
input[type=search],
textarea,
select {
	width: 100%;
	max-width: 40em;
	border: none;
	padding: .3em .5em;
	@include FontSizeRem( 1.2 );
}
input[type=number] {
	width: auto;
}
select {
	max-width: 100%;
	width: auto;
}
textarea {
	height: 10em;
}

// Placeholder text
// @link    https://css-tricks.com/snippets/css/style-placeholder-text/
::-webkit-input-placeholder {
	color: $color-text-lighter;
}
:-moz-placeholder { /* Firefox 18- */
	color: $color-text-lighter;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: $color-text-lighter;
}
:-ms-input-placeholder {
	color: $color-text-lighter;
}

// Buttons - class for other elements to look button-like
input[type=submit],
.button {
	padding: .1em 1em .2em;
	border: none;
	border-radius: .8em;
	background-color: #000;
	color: #fff;
	@include FontSizeRem( 1.2 );
	cursor: pointer;
	&:hover, &:focus {
		background-color: lighten( #000, 10% );
	}
}

// Google CSE search tweaks
.gsc-selected-option-container {
	min-width: 85px !important;
}


/* Gravity Forms (use these classes for custom forms where possible to prevent replication of style declarations
 ****************************************************************************************************************/

.gform_fields {
	margin: 0;
}
.gfield {
	clear: both;
	display: block;
	margin-bottom: 1.2em;
	overflow: hidden;
}
.gfield_label {
	@include Tablet-Desktop {
		float: left;
		width: 20%;
		vertical-align: middle;
	}
}
.gfield_radio {
	> li {
		margin-bottom: .7em;
		input[type=radio] {
			vertical-align: baseline;
			margin-right: .7em;
		}
	}
	input[value='gf_other_choice'] + input[type=text] {
		max-width: 80%;
		font-size: 1em;
	}
}
.ginput_container {
	label {
		display: inline-block;
	}
	@include Tablet-Desktop {
		float: right;
		width: 75%;
	}
}
// Honeypot validation needs to be hidden
.gform_validation_container {
	display: none !important;
	position: absolute !important;
	left: -99999px;
}
.gform_footer {
	text-align: right;
}


/* Tabbed panels
 *********************************************************************************/

.js {
	[role=tablist] {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		[role=tab] {
			float: left;
			text-align: center;
			margin: 0 4px 4px 0;
			padding: .5em 0;
			background-color: $color-tab-inactive;
			color: $color-text-body;
			cursor: pointer;
			&:hover, &:focus {
				background-color: #fff;
			}
			&[aria-selected=true] {
				margin-bottom: 0;
				border-bottom: 4px solid $color-tab-active;
				background-color: $color-tab-active;
				color: #fff;
				cursor: default;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.tablist-1 {
		[role=tab] {
			float: none;
			display: inline-block;
		}
	}
	.tablist-1, .tablist-2 {
		[role=tab] {
			width: 49%;
			width: calc( 50% - 2px );
		}
	}
	.tablist-3 {
		[role=tab] {
			width: 32%;
			width: calc( 33.3333333333333% - 2.66666666666667px );
		}
	}
	.tablist-4 {
		[role=tab] {
			width: 24%;
			width: calc( 25% - 3px );
		}
	}
	@include Mobile {
		.tabs-expand-for-mobile {
			.tabs-heading {
				display: block !important;
			}
			[role=tablist] {
				display: none;
			}
			[role=tabpanel] {
				display: block !important;
				.panel-heading {
					display: block !important;
				}
			}
		}
	}
}
// Panel styles whether JS or not
[role=tabpanel] {
	margin-bottom: 2em;
	padding: 1.5em;
	background-color: $color-tab-active;
	color: #fff;
}


/* Popups
 *********************************************************************************/

.js {
	.popup-wrap {
		position: relative;
	}
	.popup-box-styles {
		position: absolute;
		right: 0;
		top: 2em;
		z-index: 999999;
		width: 500px;
		padding: $gutter-small;
		text-align: left;
		background-color: #000;
		color: #fff;
	}
	.popup-closed {
		.popup-box {
			display: none;
		}
		@include Tablet-Desktop {
			&.popup-mobile-only {
				.popup-box {
					display: block;
				}
			}
		}
	}
}
