/*
 * Widgets
 */


// Sub-nav widget
.pilau-subnav-pages-list {

	.current_page_item {
		> a {
			font-weight: bold;
		}
	}

	ul.children {
		padding-left: 1em;
		// Hide empty children lists
		// (can't find a way to prevent output
		&:empty {
			display: none;
		}
	}

}

// Call to action
.pilau-widget-call-to-action {
	a {
		background-color: #000;
		color: #fff;
		&:hover, &:focus {
			img {
				opacity: .7;
			}
			.more {
				background-color: lighten( #000, 20% );
			}
		}
	}
	.widget-title {
		margin-bottom: .8em;
		color: #fff;
	}
	.text {
		padding: $gutter*1.5 $gutter*1.5 $gutter*2;
		font-size: .85em;
		:last-child {
			margin-bottom: 0;
		}
	}
	.more {
		display: inline-block;
	}
}
