/*
Any styles for WordPress admin
*/


// Widgets
.pilau-widget-heading {
	padding-bottom: .4em;
	border-bottom: 1px dotted #ccc;
	margin: 1.7em 0 .85em;
	font-size: 1.1em;
}
.pilau-widget-field {
	margin: 1em 0;
	label, legend {
		display: block;
		margin-bottom: .5em;
	}
	label.field-inline {
		display: inline-block;
		margin-right: .7em;
	}
	input[type=text], textarea {
		width: 100%;
	}
	.note {
		margin: .3em 0 1em !important;
		font-size: .85em;
		line-height: 1.7;
		code {
			padding: .1em .3em;
			font-size: 1em;
		}
	}
}
.widget-content {
	select {
		max-width: 100%;
	}
}

// Upload media
.pilau-upload-media-preview {
	margin: .8em 0;
}

// CMB2 fields
.cmb2-wrap {
	.cmb2-text-url, .regular-text {
		width: 40em !important;
	}
}
.cmb-type-multicheck-inline {
	li {
		width: 15em;
	}
}
.cmb-attach-list {
	margin: 1.5em 0 0 !important;
	li {
		margin-bottom: .6em !important;
	}
}
.cmb-repeatable-group .cmb2-upload-button {
	float: none !important;
}
.select2-container {
	width: 100%;
}