/* Useful classes
-------------------------------------------------------------------------------*/

/* Don't display at all */
.print-only, .no-js .hide-if-no-js, .js .hide-if-js { display: none; }

/* Text meant only for screen readers
@link http://adaptivethemes.com/comment/1386 */
.assistive-text {
	clip: rect( 1px 1px 1px 1px ); /* IE6, IE7 */
	clip: rect( 1px, 1px, 1px, 1px );
	position: absolute !important;
}

/*
Image replacement basics - just add dimensions and an image!
@link	http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
*/
.img-rep {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* Misc */
.clear { clear: both; }
.center { text-align: center; }

.notop {
	margin-top: 0 !important;
	padding-top: 0 !important;
}
.nobottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}