# For sections that might need programmatically uncommenting:
#
# section-name-start
# An actual comment, one hash
## ApacheDirective (two hash)
# section-name-end

# ----------------------------------------------------------------------
# Rewriting
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /
</IfModule>

# ----------------------------------------------------------------------
# 6G FIREWALL/BLACKLIST
# @ https://perishablepress.com/6g/
# ----------------------------------------------------------------------

# 6G:[QUERY STRINGS]
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{QUERY_STRING} (eval\() [NC,OR]
	RewriteCond %{QUERY_STRING} (127\.0\.0\.1) [NC,OR]
	RewriteCond %{QUERY_STRING} ([a-z0-9]{2000}) [NC,OR]
	RewriteCond %{QUERY_STRING} (javascript:)(.*)(;) [NC,OR]
	RewriteCond %{QUERY_STRING} (base64_encode)(.*)(\() [NC,OR]
	RewriteCond %{QUERY_STRING} (GLOBALS|REQUEST)(=|\[|%) [NC,OR]
	RewriteCond %{QUERY_STRING} (<|%3C)(.*)script(.*)(>|%3) [NC,OR]
	RewriteCond %{QUERY_STRING} (\\|\.\.\.|\.\./|~|`|<|>|\|) [NC,OR]
	RewriteCond %{QUERY_STRING} (boot\.ini|etc/passwd|self/environ) [NC,OR]
	RewriteCond %{QUERY_STRING} (thumbs?(_editor|open)?|tim(thumb)?)\.php [NC,OR]
	RewriteCond %{QUERY_STRING} (\'|\")(.*)(drop|insert|md5|select|union) [NC]
	RewriteRule .* - [F]
</IfModule>

# 6G:[REQUEST METHOD]
<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_METHOD} ^(connect|debug|delete|move|put|trace|track) [NC]
	RewriteRule .* - [F]
</IfModule>

# 6G:[REFERRERS]
<IfModule mod_rewrite.c>
	RewriteCond %{HTTP_REFERER} ([a-z0-9]{2000}) [NC,OR]
	RewriteCond %{HTTP_REFERER} (semalt.com|todaperfeita) [NC]
	RewriteRule .* - [F]
</IfModule>

# 6G:[REQUEST STRINGS]
<IfModule mod_alias.c>
	RedirectMatch 403 (?i)([a-z0-9]{2000})
	RedirectMatch 403 (?i)(https?|ftp|php):/
	RedirectMatch 403 (?i)(base64_encode)(.*)(\()
	RedirectMatch 403 (?i)(=\\\'|=\\%27|/\\\'/?)\.
	RedirectMatch 403 (?i)/(\$(\&)?|\*|\"|\.|,|&|&amp;?)/?$
	RedirectMatch 403 (?i)(\{0\}|\(/\(|\.\.\.|\+\+\+|\\\"\\\")
	RedirectMatch 403 (?i)(~|`|<|>|:|;|,|%|\\|\s|\{|\}|\[|\]|\|)
	RedirectMatch 403 (?i)/(=|\$&|_mm|(wp-)?config\.|cgi-|etc/passwd|muieblack)
	RedirectMatch 403 (?i)(&pws=0|_vti_|\(null\)|\{\$itemURL\}|echo(.*)kae|etc/passwd|eval\(|self/environ)
	RedirectMatch 403 (?i)\.(aspx?|bash|bak?|cfg|cgi|dll|exe|git|hg|ini|jsp|log|mdb|out|sql|svn|swp|tar|rar|rdf)$
	RedirectMatch 403 (?i)/(^$|mobiquo|phpinfo|shell|sqlpatch|thumb|thumb_editor|thumbopen|timthumb|webshell)\.php
</IfModule>

# 6G:[USER AGENTS]
<IfModule mod_setenvif.c>
	SetEnvIfNoCase User-Agent ([a-z0-9]{2000}) bad_bot
	SetEnvIfNoCase User-Agent (archive.org|binlar|casper|checkpriv|choppy|clshttp|cmsworld|diavol|dotbot|extract|feedfinder|flicky|g00g1e|harvest|heritrix|httrack|kmccrew|loader|miner|nikto|nutch|planetwork|postrank|purebot|pycurl|python|seekerspider|siclab|skygrid|sqlmap|sucker|turnit|vikspider|winhttp|xxxyy|youda|zmeu|zune) bad_bot
	<limit GET POST PUT>
		Order Allow,Deny
		Allow from All
		Deny from env=bad_bot
	</limit>
</IfModule>

# 6G:[BAD IPS]
<Limit GET HEAD OPTIONS POST PUT>
	Order Allow,Deny
	Allow from All
	# uncomment/edit/repeat next line to block IPs
	# Deny from 123.456.789
</Limit>

# ----------------------------------------------------------------------
# Password protection only on staging server
# @link http://styles-tricks.com/snippets/htaccess/allow-single-url/#comment-75659
# ----------------------------------------------------------------------

# staging-password-start
##<IfModule mod_access_compat.c>
	##SetEnvIf Host [[staging-domain]] passreq
	##AuthType Basic
	##AuthName "Staging Server"
	##AuthUserFile [[staging-path]]/.htpasswd
	##Require valid-user
	##Order allow,deny
	##Allow from all
	##Deny from env=passreq
	##Satisfy any
##</IfModule>
# staging-password-end

# This must be whitelisted to enable admin AJAX functionality on staging, e.g. Wordfence scans
<Files admin-ajax.php>
    Order allow,deny
    Allow from all
    Satisfy any
</Files>

# ----------------------------------------------------------------------
# Force SSL, except locally
# ----------------------------------------------------------------------

#<IfModule mod_rewrite.c>
#	RewriteCond %{HTTPS} off
#	RewriteCond %{HTTP_HOST} !^[^\.]+\.dev$ [NC]
#	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#</IfModule>

# ----------------------------------------------------------------------
# Holding page management
# ----------------------------------------------------------------------

#<IfModule mod_rewrite.c>
	# An IP address to allow past holding page
	#RewriteCond %{REMOTE_ADDR} !^[[holding-page-ip-escaped]]
	# Allow any images on the holding page through
	#RewriteCond %{REQUEST_FILENAME} !\.(gif|jpe?g|png)$
	# Allow favicons not covered by image rule through
	#RewriteCond %{REQUEST_URI} !^/browserconfig\.xml [NC]
	#RewriteCond %{REQUEST_URI} !^/favicon\.ico [NC]
	# Allow the holding page
	#RewriteCond %{REQUEST_URI} !^/503.php [NC]
	# Everything else gets the holding page
	#RewriteRule .* /503.php [L]
#</IfModule>

# ----------------------------------------------------------------------
# Redirects
# ----------------------------------------------------------------------

# redirects-start
##<IfModule mod_rewrite.c>
	# These are to redirect CPT "root" URLs to the relevant listing pages
	##RewriteCond %{REQUEST_URI} ^/project[/]?$
	##RewriteRule (.*) /projects/ [R=301,L]
##</IfModule>
# redirects-end

# ----------------------------------------------------------------------
# Force no www or force www (see http://no-www.org/)
# ONLY USE ONE!
# ----------------------------------------------------------------------

# force-www-start
##<IfModule mod_rewrite.c>
	##RewriteCond %{HTTP_HOST} ^[[production-domain-to-be-redirected-escaped]]$ [NC]
	##RewriteRule ^(.*)$ http://[[production-domain]]$1 [R=301,L]
##</IfModule>
# force-www-end

# ----------------------------------------------------------------------
# Gzip compression
# @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/.htaccess
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

    # Force compression for mangled `Accept-Encoding` request headers
    # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html

    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Compress all output labeled with one of the following media types.
    #
    # (!) For Apache versions below version 2.3.7 you don't need to
    # enable `mod_filter` and can remove the `<IfModule mod_filter.c>`
    # and `</IfModule>` lines as `AddOutputFilterByType` is still in
    # the core directives.
    #
    # https://httpd.apache.org/docs/current/mod/mod_filter.html#addoutputfilterbytype

    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/atom+xml" \
                                      "application/javascript" \
                                      "application/json" \
                                      "application/ld+json" \
                                      "application/manifest+json" \
                                      "application/rdf+xml" \
                                      "application/rss+xml" \
                                      "application/schema+json" \
                                      "application/vnd.geo+json" \
                                      "application/vnd.ms-fontobject" \
                                      "application/x-font-ttf" \
                                      "application/x-javascript" \
                                      "application/x-web-app-manifest+json" \
                                      "application/xhtml+xml" \
                                      "application/xml" \
                                      "font/eot" \
                                      "font/opentype" \
                                      "image/bmp" \
                                      "image/svg+xml" \
                                      "image/vnd.microsoft.icon" \
                                      "image/x-icon" \
                                      "text/cache-manifest" \
                                      "text/css" \
                                      "text/html" \
                                      "text/javascript" \
                                      "text/plain" \
                                      "text/vcard" \
                                      "text/vnd.rim.location.xloc" \
                                      "text/vtt" \
                                      "text/x-component" \
                                      "text/x-cross-domain-policy" \
                                      "text/xml"

    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Map the following filename extensions to the specified
    # encoding type in order to make Apache serve the file types
    # with the appropriate `Content-Encoding` response header
    # (do note that this will NOT make Apache compress them!).
    #
    # If these files types would be served without an appropriate
    # `Content-Enable` response header, client applications (e.g.:
    # browsers) wouldn't know that they first need to uncompress
    # the response, and thus, wouldn't be able to understand the
    # content.
    #
    # https://httpd.apache.org/docs/current/mod/mod_mime.html#addencoding

    <IfModule mod_mime.c>
        AddEncoding gzip              svgz
    </IfModule>

</IfModule>

# ----------------------------------------------------------------------
# Content types
# ----------------------------------------------------------------------

# For polyfill scripts
AddType text/x-component .htc

# ----------------------------------------------------------------------
# Basic security
# ----------------------------------------------------------------------

# Prevent directory listing
IndexIgnore *

# Protect .htaccess files
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# Protect wp-config.php
<FilesMatch ^wp-config.php$>
	deny from all
</FilesMatch>

# Protect xmlrpc.php
# @link http://perishablepress.com/wordpress-xmlrpc-pingback-vulnerability/
<Files xmlrpc.php>
	order deny,allow
	deny from all
</Files>

# ----------------------------------------------------------------------
# Force certain file types to download directly
# ----------------------------------------------------------------------

<FilesMatch "\.(pdf|doc|docx|xls|xlsx|ppt|pptx)$">
    ForceType application/octet-stream
    Header set Content-Disposition attachment
</FilesMatch>

# ----------------------------------------------------------------------
# PHP settings
# ----------------------------------------------------------------------

#php_value upload_max_filesize 20M
#php_value post_max_size 20M
#php_value max_execution_time 200
#php_value max_input_time 200

# ----------------------------------------------------------------------
# HTTP headers
# @link http://www.456bereastreet.com/archive/201103/x-ua-compatible_and_html5/
# @link https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
	Header set X-UA-Compatible "IE=Edge,chrome=1"
	# mod_headers can't match by content-type, but we don't want to send this header on *everything*
	<FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|xpi|safariextz|vcf)$" >
		Header unset X-UA-Compatible
	</FilesMatch>
</IfModule>

# ----------------------------------------------------------------------
# WordPress rewriting
# ----------------------------------------------------------------------

# BEGIN WordPress
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>

# END WordPress
